@font-face {
      font-family: 'MemphisRiver';
      src: url(MemphisRiver.ttf);
    }


    body, html {
      height: 100%;
      margin: 0;
      color: black;
    }
        /* Style for Header of the website */
        .header {
          margin-left: 240px;
          left: 0; right: 0; top: 0;
          background-color: transparent;
        }

        img {
          border-radius: 50%;
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          padding: 20px
        }

        /*Restaurant Description*/



        /*Style for Footer of the Website*/
        .footer {
          margin-left: 240px;
          position: absolute; 
          left: 0 ; right: 0; bottom: 0; 
          background-color: #ffb300bf;
        }

        .bg-body {
          background-image: url("images/Background.jpg");
          /* Add the blur effect */
          filter: blur(8px);
          -webkit-filter: blur(8px);
          
          /* Full height */
          height: 100%; 
          
          /* Center and scale the image nicely */
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .bg-text {
          font-family: 'MemphisRiver';
          color: rgb(85, 104, 248);
          font-weight: bold;
          position: absolute;
          top: 80%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          width: 80%;
          padding: 20px;
          text-align: center;
        }